body {
  margin: 0;
}

.main {
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

@keyframes slideInOut {
  /* left */
}

.cat {
  width: 300px;
  position: absolute;
  height: auto;
  animation: slideInOut 10s infinite ease-in-out;
}
